body {
  background-image: url(../img/bg.jpg);
  background-color: #000001;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo-blank {
  padding: 3em 0;
}

.logo {
  width: 100%;
  padding-left: 3em;
}

.input-blank {
  padding: 7em 0;
}

.input-front {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.input-submit {
  background-color: rgba(163, 189, 41, 0.6) !important;
  border-color: transparent;
}

.nav-bar {
  float: right;
  color: #edebe3;
  padding-top: 2em;
  padding-right: 2em;
}

.nav-links {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  margin: 10px;
}

.nav-links:hover {
  color: #ccc;
  text-decoration: none;
}

.questList {
}

.questItem {
  padding:1px 0 15px 20px;
  background-color: #fff;
  border-radius: 2px;
}

.questContainer {
  padding-top:2em;
}

.quest-descript {
}

.quest-image {
  height:115px;
  padding-top:12px;
  margin-left:-17px;
}

.quest-image-container {
  border-radius: 4px;
}

.quest-title {
  margin: 10px 0 3px 0;
}

.sign-in-up-title {
  font-size: 4em;
  font-family: 'Julee', cursive;
  text-shadow: 2px 2px #888888;
}

.sign-in-up-button-text {
  font-size: 2em;
  font-family: 'Julee', cursive;
}

.my-margin-half-em {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.my-margin-quarter-em {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.fade-in-three-quarter-sec {
    -webkit-animation: fadein 0.75s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.75s; /* Firefox < 16 */
            animation: fadein 0.75s;
}

.fade-in-1-and-three-quarter-sec {
    -webkit-animation: fadein 1.75s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.75s; /* Firefox < 16 */
            animation: fadein 1.75s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.shadow {
  -moz-box-shadow:    8px 8px 5px #888888;
  -webkit-box-shadow: 8px 8px 5px #888888;
  box-shadow:         8px 8px 5px #888888;
}

