body {
  background: url(../img/bg.jpg) no-repeat top center fixed;
  background-color: #000001;
  /*background-repeat: no-repeat;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*.completedQuests-container {
  display: block;
  text-align: center;
  padding: 15px;
  background-color: rgba(80,80,80,0.3);
  border-radius: 10px;
  width: 25%;
  margin-left: 38%;
}

.completedQuests-container-header {
  display: block;
  text-align: center;
  padding: 15px;
  background-color: rgba(80,80,80,0.3);
  border-radius: 10px;
  width: relative;
  font-size: 50px;
}

.completedQuests-container-main {
  display: inline-block;
  text-align: center;
  padding: 15px;
  background-color: rgba(80,80,80,0.3);
  border-radius: 10px;
  width: relative;
  font-size: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
}*/

.city {
  text-align: center;
}

.row.createdQuests {
  overflow: scroll;
   /* height: 200px;*/

}

.row.completedQuests {
  overflow: scroll;
  height: 200px;
  margin-top: 0px;
}

.complete {
  padding-left: 5px;
  background-color: #FF3300;
  border-radius: 5px;
}

.loginbox {
    background-color:rgba(80,80,80,0.3);
    padding-bottom:20px;
    border-radius:10px;
}

.loginlink {
    color:white;
}

.user {
  text-align: center;
}

.user-nav {

}

a:hover {
  text-decoration: none;
}

#signin{
  margin-top: 60px;
}

#signup{
  margin-top: 60px;
}

.selected {
  color: #B3D221 !important;
}

.logo-blank {
  padding: 3em 0;
}

.logo {
  width: 97%;
  padding-left: 0.5em;
}

.input-blank {
  padding: 7em 10px;
}

.input-front {
  /*background-color: rgba(255, 255, 255, 0.8) !important;*/
}

.input-submit {
  background-color: rgba(163, 189, 41, 0.9) !important;
  color: #fff;
  border-color: transparent;
}

 .navbar.navbar-default{
  background-color: #333331;
  border-color: #443B30;
 }


.navbar {
  float: right;
  color: #edebe3;
  padding-right: 2em;
}
.navbar-default .navbar-nav > li > a  {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  margin: 10px;
}

.active:hover {
  color: #ccc !important;
  text-decoration: none;
}

input {
  background: white;
}

.search {
  padding: 0 0 0 35px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: white;
  border-width: 0px;
  border-radius: 5px;
  background-image: url(../img/icons/search.png);
  background-repeat:no-repeat;
  background-position: 1px;
  background-size: contain;
}

.questList {
  margin-bottom: 30px;
}

.questItem {
  padding:0 0 15px 0;
  background-color: #fff;
  border-radius: 2px;
}

.questContainer {
  padding-top:1em;
}

.completedQuests {
  margin-top: 150px;
  overflow-y: hidden;
}


.quest-image {
  width: 100%;
  padding-top: 15px;
  margin-left: -5px;
  transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
}

.quest-image-container {
  width:100%;
  overflow: hidden;
}


@media screen and (min-width: 992px) {
  .quest-image-container {
    width: 93%;
    margin: 15px;
    padding: 0;
  }

  .quest-image {
  }

  .quest-text {
    width: 62%;
  }

}

@media screen and (min-width: 1325px) {
  .quest-image-container {
    margin: 15px 0 0 15px;
    width: 32%;
    height: 135px;
  }

  .quest-image {
  }

  .quest-text {
    width: 41%;
  }
}

.quest-title {
  margin: 10px 0 3px 0;
  overflow: hidden;
}

.sign-in-up-title {
  font-size: 4em;
  font-family: 'Julee', cursive;
  text-shadow: 2px 2px #888888;
}

.sign-in-up-button-text {
  border: none;
  background-color: #a3bd29;
  font-size: 2em;
  font-family: 'Julee', cursive;
}

.my-margin-half-em {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.my-margin-quarter-em {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}



.fade-in-three-quarter-sec {
    -webkit-animation: fadein 0.75s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.75s; /* Firefox < 16 */
            animation: fadein 0.75s;
}

.fade-in-1-and-three-quarter-sec {
    -webkit-animation: fadein 1.75s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.75s; /* Firefox < 16 */
            animation: fadein 1.75s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.shadow {
  -moz-box-shadow:    8px 8px 5px #888888;
  -webkit-box-shadow: 8px 8px 5px #888888;
  box-shadow:         8px 8px 5px #888888;
}

.input-group {
  margin:20px 0;
}

.input-group-addon {
  background-color: rgba(163, 189, 41, 1) !important;
  border: 0px solid transparent;
  color: #fff;
  text-shadow: 1px 1px 1px #93aa25;
  font-size: 16px;
  min-width: 8em;
}

.add-agenda-btn {
  background-color: rgba(163, 189, 41, 1) !important;
  font-size: 16px;
  text-shadow: 1px 1px 1px #93aa25;
  padding:10px 15px;
  border: 0px solid transparent;
  color: #fff;
  margin: 20px 0;
  float: right;
}

.add-agenda-btn:hover {
  color: #ededed;
}

.add-agenda-btn:active {
  color: #fff !important;
}

tags-input .tags .tag-item {
  color: #fff;
  background-color: #86837e;
  border: 0px solid transparent;
  border-radius: 3px;
}

.clean {
  margin: 20px;
}

.clear {
  margin-top: 53px;
}

.logo-search {
  margin-top: 73px;
}

.no-margin {
  margin:0 !important;
}

.no-padding-right {
  padding-right: 0;
}

.margin-left {
  margin-left:15px !important;
}

.submit-quest-btn{
  padding:10px 15px;
  margin: 20px 0;
}


.tab {
  background-color: #a3bd29;
  margin-top: 12px;
  border-radius: 6px;
  color: #fff;
}

.tabs {
  width: 110px;
  float: right;
  margin-right: 14px;
  padding-left: 0;
  padding-right: 0;
}

.tab-image-container{
  padding: 3px;
}

.tab-image {
  padding: 4px 0 0 9px;
  width: 24px;
}

.tab-text {
  text-align: center;
  width: 46px;
  margin: 3px 0px;
  transform:scale(1.1,1.2); /* W3C */
  -webkit-transform:scale(1.1,1.2); /* Safari and Chrome */
  -moz-transform:scale(1.1,1.2); /* Firefox */
  -ms-transform:scale(1.1,1.2); /* IE 9 */
  -o-transform:scale(1.1,1.2); /* Opera */
}

.split-line {
    background-color: #93aa27;
    border-right: 1px solid #93aa27;
    height: 24px;
    margin: 4px 0 5px 8px;
    padding: 0;
    width: 1px;
}

.tags {
  color: #949494
}

.no-quests {
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  line-height: 27px;
  padding: 14px;
  text-shadow: 0px 0px 2px #888888;
  background-color: rgba(30, 30, 30, 0.5);
  border-radius: 25px;
}

.map-container {
  padding: 20px;
}

.maps {
  margin-top: 66px;
}

.angular-google-map-container {
 height: 265px;
}

.quest-view-image {
  margin-top: 15px;
  min-width: 100%;
  max-width: 100%;
  height: 445px;
}
.quest-view-title {
  padding-bottom: 0;
  margin-bottom: 0;
}

.quest-view-title {
  margin-top: 20px;
  margin-bottom: 5px;
}

.quest-view-descript {
  /*margin-left: 20px;*/
  margin-top: 6px;
  color: #A3BD29;
}

.quest-view-steps {
  margin: 0 -15px 17px 0;
}
.steps {
  padding-left: 30px;
  padding-right: 30px;
}

.quest-view-step-tab {
  margin:5px;
  color:#A3BD29;
}

.quest-view-tags {
  background-color:#ccc;
  color: #fff;
  padding:5px;
  margin:5px;
  border-radius: 3px;
}

.make-quest-step {
  background-color: #A3BD29;
  color: #fff;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.make-quest-step-num {
  color: #424242;
}

.make-quest-err {
  cursor: default;
  background-color: #DA0E08;
  padding: 7px 28px;
  font-size: 17px;
  margin-top: 20px;
}

.make-quest-description {
  resize: none;
}

.make-quest-mountains {
  margin-left: 13%;
  width: 75%;
  margin-top: 3em;
  opacity: 0.8;
}

.make-quest-tasks-img {
  width: 85%;
  margin-bottom: 15px;
  margin-left: 1.8em;
}

.stepContainer{
  background-color: #B3B3B3;
  padding: 2px;
  margin: 3px;
}

.stepContainer-title {
  background-color: #fff;
  margin: 1px 1px 0 1px;
  padding: 1px 26px 20px;
}

.streetView{
  height:235px;
}

.message-error{
  height: 35px;
  width: 280px;
  background-color: #d63049;
  color: white;
  opacity: 0.7;
  border-radius: 2px;
  font-family: 'Julee', cursive;
  text-align: center;
  line-height: 35px;
  font-size: 1.3em;
  margin-top: 14px;
}

.complete:hover {
  cursor: pointer;
  background-color: #990000;
}

.rating-star {
  height: 30px;
  width: 30px;
}
.glyphicon.ng-scope.glyphicon-star {
  font-size: 2em;
  color: #FFCC00;
}

.glyphicon.ng-scope.glyphicon-star-empty {
    font-size: 2em;
}

.review-view-review {
    font-style: italic;
    font-size: 18px;
    line-height: 0.9;
}

.review_h2 {
  margin-top: 30px;
}

.review-tagline {
  color: #a3bd29;
}

.review-text {
  margin-top: 0px;
}

.review-user {
 margin-bottom: 5px;
}

.xp {
  color: #a3bd29;
}
.profile-list {
  padding-left: 5px;
  padding-right: 5px;
}

.bannertitle {
    padding-left:20px;
}

/*.quest-img-cont {
  padding-left: 0px;
}*/
.bannername {
    padding-left:10px;
}

.profile-img {
  height: 100%;
  width: 100%;
}

.overlay-h4 {
  padding-top: 60px;
}
