
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="navbar-collapse" ng-class="{collapse: isCollapsed}">
    <ul class="nav navbar-nav navbar-left dropdown">
      <li><a class="active fade-in-three-quarter-sec user-nav" style="color:#B3D221;" ng-show='user'>Welcome {{ user.username }}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right dropdown">
        <li><a class="active fade-in-three-quarter-sec" href="/#/">Select City</a></li>
        <li><a class="active fade-in-three-quarter-sec" href="/#/questList">Quest List</a></li>
        <li><a class="active fade-in-three-quarter-sec" href="/#/createQuest">Create Quest</a></li>
        <li><a class="active fade-in-three-quarter-sec selected" href="/#/profile">Profile</a></li>
        <li><a class="active fade-in-three-quarter-sec" href="/#/signin" ng-click="signout()">Sign Out</a></li>
      </ul>
    </nav><!--/.nav-collapse -->
  </div>
</div>
<!-- <div class="container logo-blank">
  <div class="row col-md-10 col-md-offset-1">
    <h1>{{ user.username }}</h1>

  </div>
</div> -->
<div id='container'>
    <div class="col-md-12 logo-blank"></div>
    <div class="col-md-12 logo-blank"></div>
    <div class="col-md-10 col-md-offset-1">
      <div class='col-md-12 fade-in-three-quarter-sec'>
        <div class="col-md-12 questItem">
          <div class="row">
            <div class="col-md-2" style="padding-right: 0px;">
              <a href="" ng-click='toggle()'><img  class='profile-img' ng-src='{{ user.URL }}'></a>
            </div>
            <div class="col-md-4">
              <h1 class="bannername">{{ user.username }}</h1>
              <div class="col-md-12">
                  <h4 class="xp">Level: {{ Math.floor(user.xp/100) || 0 }}</h4>
                  <h4 class="xp">Rank: {{ rank}}</h4>
                  <h4 class="xp">XP: {{ user.xp }}</h4>
                  <uib-progressbar class="progress-striped active" value="user.xp%100" type="success">{{type}} </uib-progressbar>
              </div>
            </div>
            <div class="col-md-4">
              <form ng-submit='loadImage()' ng-show='urlBar'>
                <div class="input-group">
                  <input ng-model='imageUrl' type="url" class="form-control input-front fade-in-1-and-three-quarter-sec" placeholder="Add image URL" >
                  <span class="input-group-btn">
                    <button href='' class="btn btn-default input-submit fade-in-1-and-three-quarter-sec" type="submit">Load Image</button>
                  </span>
                </div>
              </form>
              <!-- <input ng-model='user.URL' type="url" placeholder="Add image URL">
              <button type='button' ng-click="loadImage()">Load Image</button> -->
            </div>
          </div>
          <div class='row'>
            <div class="col-md-6">
              <h2 class="bannertitle">Completed Quests: {{ user.completedQuests.length }}</h2>
              <div class='col-md-12 questList profile-list input-front fade-in-three-quarter-sec' ng-repeat="completedQuest in user.completedQuests | searchField: 'tags' | filter:search">
                <div class="col-md-12 questItem">
                  <div class="col-md-1 quest-image-container">
                    <img class="quest-image " ng-src="{{ completedQuest.image }}">
                  </div>
                  <div class="col-md-5 no-padding-right quest-text">
                    <a href="/#/questView/{{completedQuest._id}}"><h3 class="quest-title">{{ completedQuest.name }}</h3></a>

                    <p class="quest-descript">{{ completedQuest.description }}</p>
                    <span ng-repeat='tag in completedQuest.tags'><span class="quest-view-tags">{{tag.text}}</span></span>
                    <span><h4>{{user.username}}'s review:</h4><p class="profile-review">{{ completedQuest.userReview }}</p></span>
                  </div>
                  <div class="col-md-1 tabs hidden-xs hidden-sm">
                    <div class="col-md-12 tab">
                      <div class="row">
                        <div class="col-md-3 tab-image-container">
                          <img class="tab-image" src="client/img/icons/cost.png">
                        </div>

                        <div class="col-md-2 split-line"></div>

                        <div class="col-md-2 tab-image-container">
                          <p class="tab-text">{{ completedQuest.cost }}</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 tab">
                      <div class="row">
                        <div class="col-md-3 tab-image-container">
                          <img class="tab-image" src="client/img/icons/time.png">
                        </div>

                        <div class="col-md-2 split-line"></div>

                        <div class="col-md-2 tab-image-container">
                          <p class="tab-text">{{ completedQuest.time }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 tab">
                        <div class="row">
                            <div class="col-md-3 tab-image-container">
                                <img class="tab-image" src="client/img/icons/star.png">
                            </div>

                            <div class="col-md-2 split-line"></div>

                            <div class="col-md-2 tab-image-container">
                                <p class="tab-text">{{ completedQuest.rating }}</p>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="clean"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h2 class="bannertitle">Created Quests: {{ user.createdQuests.length }}</h2>
              <div class='col-md-12 questList profile-list input-front fade-in-three-quarter-sec' ng-repeat="createdQuest in user.createdQuests | searchField: 'tags' | filter:search">
                <div class="col-md-12 questItem">
                  <div class="col-md-1 quest-image-container">
                    <img class="quest-image " ng-src="{{ createdQuest.image }}">
                  </div>
                  <div class="col-md-5 no-padding-right quest-text">
                    <a href="/#/questView/{{createdQuest._id}}"><h3 class="quest-title">{{ createdQuest.name }}</h3></a>

                    <p class="quest-descript">{{ createdQuest.description }}</p>
                    <span ng-repeat='tag in createdQuest.tags'><span class="quest-view-tags">{{tag.text}}</span></span>
                  </div>
                  <div class="col-md-1 tabs hidden-xs hidden-sm">
                    <div class="col-md-12 tab">
                      <div class="row">
                        <div class="col-md-3 tab-image-container">
                          <img class="tab-image" src="client/img/icons/cost.png">
                        </div>

                        <div class="col-md-2 split-line"></div>

                        <div class="col-md-2 tab-image-container">
                          <p class="tab-text">{{ createdQuest.cost }}</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 tab">
                      <div class="row">
                        <div class="col-md-3 tab-image-container">
                          <img class="tab-image" src="client/img/icons/time.png">
                        </div>

                        <div class="col-md-2 split-line"></div>

                        <div class="col-md-2 tab-image-container">
                          <p class="tab-text">{{ createdQuest.time }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 tab">
                        <div class="row">
                            <div class="col-md-3 tab-image-container">
                                <img class="tab-image" src="client/img/icons/star.png">
                            </div>

                            <div class="col-md-2 split-line"></div>

                            <div class="col-md-2 tab-image-container">
                                <p class="tab-text">{{ createdQuest.rating }}</p>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="clean"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




