
<div class="navbar transparent navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="navbar-collapse" ng-class="{collapse: isCollapsed}">
        <nav class="navbar-collapse" ng-class="{collapse: isCollapsed}">
    <ul class="nav navbar-nav navbar-left dropdown">
      <li><a class="active fade-in-three-quarter-sec user-nav" style="color:#B3D221;" ng-show='user'>Welcome, thouest {{ user.username }}...</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right dropdown">
        <li><a class="active fade-in-three-quarter-sec" style="color:#B3D221;"> {{ currCity }} </a></li>
        <li><a class="active fade-in-three-quarter-sec" href="/#/">Search City</a></li>
        <li><a class="active fade-in-three-quarter-sec selected" href="/#/questList">Quest List</a></li>
        <li><a class="active fade-in-three-quarter-sec" href="/#/createQuest">Create Quest</a></li>
        <li><a class="active fade-in-three-quarter-sec" href="/#/profile">Profile</a></li>
        <li><a class="active fade-in-three-quarter-sec" href="/#/signin" ng-click="signout()">Sign Out</a></li>
      </ul>
    </nav><!--/.nav-collapse -->
  </div>
</div>

<div id='container'>
    <div class="col-md-12 logo-blank"></div>
    <div class="col-md-12 logo-blank"></div>
    <div class="col-md-10 col-md-offset-1">
      <div class='col-md-12 fade-in-three-quarter-sec'>
        <div class="col-md-12 questItem">
          <div class="col-md-12">
            <img class="quest-view-image" ng-src="{{quest.image}}">
          </div>
          <div class="col-md-7">
            <h1 class="quest-view-title">{{ quest.name }}</h1>
            <h4 class="quest-view-descript">{{ quest.description }}</h4>
          </div>
          <div class="col-md-5" style="margin-top:15px;">
            <div class="row">
              <div class="col-md-4 tab">
                <div class="row">
                  <div class="col-md-2 tab-image-container">
                    <img class="tab-image" src="client/img/icons/cost.png">
                  </div>

                  <div class="col-md-2 split-line"></div>

                  <div class="col-md-2 tab-image-container">
                    <p class="tab-text">{{ quest.cost }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-1" style="padding:0;"></div>

              <div class="col-md-4 tab">
                  <div class="row">
                      <div class="col-md-2 tab-image-container">
                          <img class="tab-image" src="client/img/icons/star.png">
                      </div>

                      <div class="col-md-2 split-line"></div>

                      <div class="col-md-2 tab-image-container">
                          <p class="tab-text">{{ quest.rating }}</p>
                      </div>
                  </div>
              </div>

              <div class="col-md-1" style="padding:0;"></div>

              <div class="col-md-4 tab">
                <div class="row">
                  <div class="col-md-2 tab-image-container">
                    <img class="tab-image" src="client/img/icons/time.png">
                  </div>

                  <div class="col-md-2 split-line"></div>

                  <div class="col-md-2 tab-image-container">
                    <p class="tab-text">{{ quest.time }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-1" style="padding:0;"></div>

              <div class="col-md-4 tab" ng-controller='ReviewCtrl'>
                <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header review-header">
                        <h1 class="modal-title quest-view-title">Thou hast completed thy quest!</h1>
                        <h4 class="review-tagline">Review the quest to gain XP.</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-controller="RatingCtrl">
                          <h3>Rating</h3>
                          <uib-rating ng-model="newReview.rating" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating"></uib-rating>
                        </div>
                        <div>
                          <h3>Review</h1>
                          <textarea class='form-control' ng-model='newReview.review'></textarea>
                        </div>
                    </div>
                    <div class="modal-footer" >
                        <button class="btn btn-primary review-btn" type="button" ng-click="addReview()">Submit</button>
                        <button class="btn btn-warning review-btn" type="button" ng-click="cancel()">Cancel</button>
                    </div>
                </script>
                <div class="row complete" ng-click="open()">
                    <div class="col-md-2 tab-image-container">
                        <img class="tab-image" src="client/img/icons/checkmark.png">
                    </div>

                    <div class="col-md-2 split-line"></div>

                    <div class="col-md-2 tab-image-container">
                        <p class="tab-text complete">Complete</p>
                    </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-6">
            <h2 class="">Steps</h2>
            <div class="row quest-view-steps" ng-repeat='step in quest.steps'>
              <step-view-directive/>
            </div>

            <div class="clean"></div>

            <span class="tags">Tags: </span>
            <span ng-repeat='tag in quest.tags'><span class="quest-view-tags">{{tag.text}}</span></span>

            <div class="clean"></div>

          </div>
          <div class="col-md-6 maps">
           <ui-gmap-google-map center="map.center" zoom="map.zoom" events="map.events">
                <ui-gmap-marker
                    ng-repeat="marker in markers"
                    coords="marker.coords"
                    idKey="marker.id"
                    options="marker.options"
                    >
                </ui-gmap-marker>
          </ui-gmap-google-map>
          <div>
              <h2 class="review_h2">Reviews</h2>
              <ul>
             <span class="row review-view-steps" ng-repeat='review in quest.reviews'><span class="review-view-review"><li>"...{{review.review}}" </br>- {{review.username}}</li></span></span>
              </ul>
              </span>
          </div>

          <div class="clean"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
