<style>
  body {background-size: contain;} 
</style>

<div class="nav-bar">
  <a class="nav-links fade-in-three-quarter-sec" href="/#/">Search City</a>
  <a class="nav-links fade-in-three-quarter-sec" href="/#/questList">Quest List</a>
  <a class="nav-links fade-in-three-quarter-sec" href="/#/createQuest">Create Quest</a>
  <a class="nav-links fade-in-three-quarter-sec" href="/#/signin">Sign In</a>
</div>

<div id='container'>
    <div class="col-md-12 logo-blank"></div>
    <div class="col-md-10 col-md-offset-1">
      <div class='col-md-12 fade-in-three-quarter-sec'>
        <div class="col-md-12 questItem">
          <div class="col-md-12">
            <img class="quest-view-image" ng-src="{{quest.image}}">
          </div>
          <div class="col-md-9">
            <h1 class="quest-view-title">{{ quest.name }}</h1>
            <h4 class="quest-view-descript">{{ quest.description }}</h4>
          </div>
          <div class="col-md-3" style="margin-top:15px;">
            <div class="row">
              <div class="col-md-5 tab">
                <div class="row">
                  <div class="col-md-3 tab-image-container">
                    <img class="tab-image" src="client/img/icons/cost.png">
                  </div>

                  <div class="col-md-2 split-line"></div>

                  <div class="col-md-2 tab-image-container">
                    <p class="tab-text">{{ quest.cost }}</p>
                  </div>
                </div>
              </div>

              <div class="col-md-1" style="padding:0;"></div>

              <div class="col-md-5 tab">
                <div class="row">
                  <div class="col-md-3 tab-image-container">
                    <img class="tab-image" src="client/img/icons/time.png">
                  </div>

                  <div class="col-md-2 split-line"></div>
                  
                  <div class="col-md-2 tab-image-container">
                    <p class="tab-text">{{ quest.time }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h2 class="">Steps</h2>
            <div class="row quest-view-steps" ng-repeat='step in quest.steps'>
              <step-view-directive/>
            </div>

            <div class="clean"></div>

            <span class="tags">Tags: </span>
            <span ng-repeat='tag in quest.tags'><span class="quest-view-tags">{{tag.text}}</span></span>
          </div>
          <div class="col-md-6 maps">
            
           <ui-gmap-google-map center="map.center" zoom="map.zoom" events="map.events">
                <ui-gmap-marker 
                    ng-repeat="marker in markers" 
                    coords="marker.coords" 
                    idKey="marker.id"
                    options="marker.options"
                    >
                </ui-gmap-marker>
          </ui-gmap-google-map>
          </div>
          <div class="clean"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 

<div id='container'>
  <h2>{{quest.name}}</h2>
  <p>Description: {{quest.description}}</p>
  <p>Tags: {{quest.txt}}</p>
  <p>City: {{quest.city}}</p>
  <p>Time: {{quest.time}}</p>
  <p>Cost: {{quest.cost}}</p>
  <p>Location: {{quest.location}}</p>
  <img class="quest-image" ng-src="{{quest.image}}">
</div>
 -->