<div id='container'>

    <div class="col-md-12 logo-blank"></div>
    <div class="col-md-10 col-md-offset-1 questContainer">
    <form ng-submit='questCreate()'>
      <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
          <div class="input-group">
            <span class="input-group-addon">Quest Title</span>
            <input ng-model="quest.name" type="text" class="form-control">
          </div>

          <div class="input-group">
            <span class="input-group-addon">Description</span>
            <input ng-model="quest.description" type="text" class="form-control">
          </div>

          <div class="input-group">
            <span class="input-group-addon">Tags</span>
            <tags-input min-length="1" ng-model="tags">
            </tags-input>
          </div>
        </div>

        <div class="col-md-12 clean"></div>

          <div id="addStepDiv" class="col-md-12"></div>

          <div class="row">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">Task</span>
                <input ng-model="step.description" type="text" class="form-control">
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group no-margin">
                    <span class="input-group-addon">Cost</span>
                    <input ng-model="step.cost" type="text" class="form-control">
                  </div>
                </div> 
                <div class="col-md-6">
                  <div class="input-group no-margin">
                    <span class="input-group-addon">Minutes</span>
                    <input ng-model="step.time" type="text" class="form-control">
                  </div>
                </div> 
              </div>
            </div>

            <div class="col-md-6">

              <!-- Map Goes Here :) -->
            <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.events">
              <ui-gmap-marker 
                  ng-repeat="marker in markers" 
                  coords="marker.coords" 
                  idkey="marker.id" >
              </ui-gmap-marker>
            </ui-gmap-google-map>
              
            </div>

            <div class="col-md-12 clean">
            </div>
            <div class="col-md-12 clean"></div>

            <div class="col-md-12 ">
              <div class="row">
                <div class="col-md-2 col-md-offset-4">
                  <button ng-click="addStepDiv()" type="button" class="btn btn-default add-agenda-btn">Add New Agenda</button>
                </div>
                <div class="col-md-2">
                    <button ng-click="questCreate()" type="button" class="btn btn-danger submit-quest-btn">Submit Quest</button>
                </div>
              </div>
            </div>
          <div ng-show="showErr" class='message error'>{{err}}</div>
          </div>
        </div>
      </div>
    </form>
    </div>
    </div>
  </div>
</div>

