<style>
  body { background-size: contain; } 
</style>

<div class="nav-bar">
  <a class="nav-links fade-in-three-quarter-sec" href="/#/">Search City</a>
  <a class="nav-links fade-in-three-quarter-sec" href="/#/questList">Quest List</a>
  <a class="nav-links fade-in-three-quarter-sec selected" href="/#/createQuest">Create Quest</a>
  <a class="nav-links fade-in-three-quarter-sec" href="/#/signin">Sign In</a>
</div>

<div id='container'>
    <div class="col-md-12 logo-blank"></div>
    <div class="col-md-6 col-md-offset-3 fade-in-1-and-three-quarter-sec"><img class="logo" src="client/img/logo.png"></div>
    <div class="col-md-10 col-md-offset-1 questContainer">
    <form ng-submit='questCreate()'>
      <div class="form-group">
        <div class="col-md-3"><img class="make-quest-mountains hidden-sm" src="client/img/hill1.svg"></div>
        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-addon">Quest Title</span>
            <input required ng-model="quest.name" type="text" class="form-control">
          </div>

          <div class="input-group">
            <span class="input-group-addon">Description</span>
            <textarea required ng-model="quest.description" class="form-control make-quest-description" rows="2"></textarea>
          </div>

          <div class="input-group">
            <span class="input-group-addon">Image URL</span>
            <input required ng-model="quest.image" type="text" class="form-control">
          </div>

          <div class="input-group">
            <span class="input-group-addon">Tags</span>
            <tags-input min-length="1" ng-model="quest.tags">
            </tags-input>
          </div>
        </div>
        <div class="col-md-3"><img class="make-quest-mountains hidden-sm" src="client/img/hill2.svg"></div>

        <div class="col-md-12 clean"></div>
        <div class="col-md-12 clean"></div>
        <div class="col-md-12 clean"></div>
<!--         <div class="col-md-4 col-md-offset-4"><img class="make-quest-tasks-img" src="client/img/tasks2.png"></div> -->

        

            <div class="row">
              <div class="col-md-6">
              <div id="step" class="col-md-12" style="padding:0;"></div>  

                <div class="input-group">
                  <span class="input-group-addon">Task {{stepCount}}</span>
                  <input required ng-model="step.description" type="text" class="form-control">
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="input-group no-margin">
                      <span class="input-group-addon">Cost</span>
                      <input required ng-model="step.cost" type="text" class="form-control">
                    </div>
                  </div> 
                  <div class="col-md-6">
                    <div class="input-group no-margin">
                      <span class="input-group-addon">Minutes</span>
                      <input required ng-model="step.time" type="text" class="form-control">
                    </div>
                  </div> 
                </div>
                <div ng-show="markerErr" class="col-md-4 col-md-offset-3">
                  <button type="button" class="btn btn-danger make-quest-err">Place a Marker of the Location</button>
                </div>
                <div ng-show="markerErr" class="col-md-12"></div>
                <div class="col-md-2 col-md-offset-4">
                  <button ng-click="addStepDiv()" type="button" class="btn btn-default add-agenda-btn">Add Task</button>
                </div>
              </div>

              <div class="col-md-6 map-container">

              <ui-gmap-google-map center="map.center" zoom="map.zoom" events="map.events">
                <ui-gmap-marker 
                    ng-repeat="marker in markers" 
                    coords="marker.coords" 
                    idkey="marker.id" >
                </ui-gmap-marker>
              </ui-gmap-google-map>
                
              </div>

              <div class="col-md-12 clean"></div>
          
              <div ng-show="showErr" class="message error">{{err}}</div>
          </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5 text-center">
                <button ng-click="questCreate()" type="button" class="btn btn-danger submit-quest-btn">Submit Quest</button>
            </div>
        </div>

        <div class="col-md-12 clean"></div>
        <div class="col-md-12 clean"></div>

      </div>
    </form>
    </div>
    </div>
  </div>
</div>

